<div class="container">
    <div class="footer-content">
        <div class="footer-section footer-links">
            <h4>Navegación</h4>
            </div>

        <div class="footer-section footer-legal">
            <h4>Legal</h4>
            </div>

        <div class="footer-section footer-social">
            <h4>Síguenos</h4>
            </div>
    </div>

    <div class="footer-bottom">
        <p>Este es un proyecto académico...</p>
        <p>&copy; 2025 Tech-Up...</p>
    </div>
</div>